.AddComment__container {
  border: 1px solid lightgreen;
  text-align: center;
  margin: 10vw 10vw 0vw 10vw;
}

.AddComment__container > button {
  width: 20vw;
  min-width: 120px;
}

.AddComment__newComment {
  border: 1px solid lightsalmon;
  justify-content: space-between;
  padding: 2rem;
}

.AddComment__newComment > textarea {
  width: 50vw;
  max-width: 50vw;
  min-width: 50vw;
  height: 20vh;
  min-height: 20vh;
}

.AddComment__nameSubmit > * {
  height: 3vh;
  width: 20vw;
  margin-bottom: 0.5rem;
  margin-left: 0.2rem;
}

.AddComment__nameSubmit {
  display: flex;
  flex-direction: column;
}
