.Article__container {
  border: 1px solid aqua;
  margin: 1rem 10vw 1rem 10vw;
  padding: 2rem;
}

.Article__dateVote {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}
