.FilterArticles__container {
  border: 1px solid lightseagreen;
  padding-left: 15px auto;
  width: 95vw;
  margin: auto;
  height: 40px;
  position: relative;
  align-items: center;
}
.FilterArticles__clearButton {
  position: absolute;
  right: 10px;
  margin: 7px auto;
}

.FilterArticles__container > * {
  margin: 5px;
}

.FilterArticles__container > select {
  width: 100px;
}
