.Nav {
  border: 1px solid red;
  width: 95vw;
  margin: 5vw auto;
  padding: 3px;
  display: flex;
  justify-content: space-evenly;
  height: 150px;
  align-items: center;
}

.Nav__news {
  height: 8rem;
}
